<!DOCTYPE html>
<html>

<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140457126-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());
		gtag('config', 'UA-140457126-1');
	</script>
	<!-- information -->
	<meta name="description" itemprop="description"
		content="When the judge line dreams to dance... Innovative Rhythm Game." />
	<meta itemprop="applicationCategory" content="Game" />
	<meta itemprop="applicationSubCategory" content="Rhythm Game" />
	<meta itemprop="genre" content="Rhythm Game" />
	<meta itemprop="gamePlatform" content="Android" />
	<meta itemprop="gamePlatform" content="iOS" />
	<meta itemprop="operatingSystem" content="Android" />
	<meta itemprop="operatingSystem" content="iOS" />

	<!-- meta -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="csrf-token" content="3Bs5b32sJXgr7Kslc6wUBYfnWIjMEZEwhIbVgQMH">
	<!-- icon -->
	<link rel="shortcut icon" type="image/x-icon" href="icon/pigeon-logo.png">
	<title>Pigeon Games | Phigros</title>
	<!-- jquery -->
	<script src="https://code.jquery.com/jquery-3.4.0.min.js"
		integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
	<!-- bootstrap css -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- bootstrap js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
	<!-- fullpage js -->
	<script src="js/lib/jquery.fullpage.min.js"></script>
	<script src="js/lib/fullpage.scrolloverflow.js"></script>
	<link rel="stylesheet" href="css/jquery.fullpage.min.css">
	<!-- moment js -->
	<script src="js/lib/moment.min.js"></script>
	<!-- icons -->
	<script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
	<!-- animate.css -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
	<!-- vuejs development version -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<!-- stylesheet -->
	<link media="all" type="text/css" rel="stylesheet" href="css/common.css">
	<link media="all" type="text/css" rel="stylesheet" href="css/news.css">
	<link media="all" type="text/css" rel="stylesheet" href="css/loader.css">
	<!-- script -->
	<script src="js/common.js"></script>
	<script src="js/news.js"></script>

</head>

<body>
<div id="main">

	<nav class="navbar navbar-expand-md navbar-light">
		<div class="container px-0">
			<!-- LOGO -->
			<a href="index.html" class="pigeon-logo mr-md-5 px-3">
				<img src="img/LOGO.png" />
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<!-- 导航栏 -->
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav px-3 px-md-0">
					<li class="nav-item dropdown ml-md-3 mr-md-5">
						<a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">项目</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="phigros.html">Phigros</a>
						</div>
					</li>
					<li class="nav-item mr-md-5">
						<a class="nav-link" href="#">动态</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">关于鸽游</a>
					</li>
				</ul>
			</div>
			<!-- 语言切换 -->
			<div class="dropdown language-logo">
				<a href="#" data-toggle="dropdown">
					<img class="mh-100" src="img/language.png">
				</a>
				<div class="dropdown-menu dropdown-menu-right">
					<a class="dropdown-item" href="#">English</a>
					<a class="dropdown-item" href="#">简体中文</a>
					<a class="dropdown-item" href="#">繁體中文</a>
					<a class="dropdown-item" href="#">日本語</a>
				</div>
			</div>
		</div>
	</nav>

	<div class="container" id="vue-app">
		<div class="row mt-4">
			<div class="col-12 px-0">
				<!-- carousel images -->
				<div id="screen" class="carousel slide" data-ride="carousel">
					<ul class="carousel-indicators">
						<li data-target="#screen" data-slide-to="0" class="active"></li>
						<li data-target="#screen" data-slide-to="1"></li>
						<li data-target="#screen" data-slide-to="2"></li>
					</ul>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<a href="phigros.html" target="_blank"><img src="img/Phigros.png"></a>
						</div>
						<div class="carousel-item">
							<a href="phigros.html" target="_blank"><img src="img/Phigros.png"></a>
						</div>
						<div class="carousel-item">
							<a href="phigros.html" target="_blank"><img src="img/Phigros.png"></a>
						</div>
					</div>
				</div>
				<!-- news list -->
				<h1 class="subtitle mt-3">
					关注鸽游动态！
				</h1>
			</div>
			<div v-for="news in contents" class="news-item pl-md-5 pr-0 mt-3 col-12 d-flex justify-content-between flex-column flex-md-row">
				<div class="news-desc pl-3 pl-md-0 pt-3 order-2 order-md-1">
					<a class="news-title" :href="'news_' + news.id + '.html'" target="_blank">
						{{ news.title }}
					</a>
					<div class="news-content mt-2">
						{{ news.abstract }}
					</div>
					<div class="news-date">
						{{ news.date }}
					</div>
				</div>
				<a class="order-1 order-md-2" :href="'news_' + news.id + '.html'" target="_blank">
					<img class="news-img" :src="news.image">
				</a>
			</div>
			<div class="loader col-12 py-5 text-center" id="loader">
				<div v-if="loaderState === LoaderStates.READY">
					<ion-icon name="arrow-down"></ion-icon><br/>
					下拉以加载更多
				</div>
				<div v-else-if="loaderState === LoaderStates.LOADING">
					<div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div><br/>
					加载中
				</div>
				<div v-else-if="loaderState === LoaderStates.FULL">
					<ion-icon name="checkmark-circle-outline"></ion-icon><br/>
					没有更多内容了
				</div>
				<div v-else-if="loaderState === LoaderStates.FAILED">
					<ion-icon name="close-circle-outline"></ion-icon><br/>
					加载失败，请刷新页面重试
				</div>
			</div>
		</div>
	</div>

	<!-- footer -->

	<!-- footer -->
	<footer>
		<div class="container">
			<div class="row py-5">
				<div class="col-4 col-lg-2 pl-sm-0">
					<b>鸽游项目</b>
					<a href="phigros.html">Phigros</a>
				</div>
				<div class="col-4 col-lg-2">
					<b>友情链接</b>
				</div>
				<div class="col-4 col-lg-2">
					<a href="join.html">加入我们</a>
					<a href="about.html">关于鸽游</a>
					<a href="news.html">鸽游动态</a>
				</div>
				<div class="col-12 col-md-8 col-lg-4 pt-2 pt-lg-0 pl-sm-0 contact">
					<b>联系我们</b>
					<a class="mr-2 mb-2" href="https://space.bilibili.com/15859169" target="_blank"><img src="img/BILI.png"></a>
					<a class="mr-2 mb-2" href="https://jq.qq.com/?_wv=1027&k=5hyOBQa" target="_blank"><img src="img/QQ.png"></a>
					<a class="mr-2 mb-2" href="https://www.taptap.com/app/165287" target="_blank"><img src="img/TAP.png"></a>
					<a class="mr-2 mb-2" href="https://weibo.com/u/7119316944" target="_blank"><img src="img/WB.png"></a>
					<a class="mr-2 mb-2" href="https://twitter.com/Phigros_PGS" target="_blank"><img src="img/twitter.png"></a>
				</div>
				<div class="col-12 col-md-4 col-lg-2 pt-2 pt-lg-0 px-sm-0 pl-md-3 contact">
					<b>支持我们</b>
					<a class="mb-2" href="https://afdian.net/@CN115" target="_blank"><img src="img/afd.png"></a>
				</div>
			</div>
		</div>
		<div class="footer text-center py-3">
			&copy; 2019 Pigeon Games
		</div>
	</footer>

</div>
</body>

</html>