html, body {
	background-color: white;
}

/* gallery */
.carousel-indicators > li {
	height: 6px;
	width: 60px;
	cursor: pointer;
	background-color: white;
	opacity: .8;
	margin: auto 5px;
}

.subtitle {
	color: gray;
	border-bottom: 2px solid gray;
	font-size: 36px;
}

/* news items */
.news-item {
	line-height: 1.1;
	box-shadow: 15px 0px 0px var(--pink-color) inset;
	background-color: var(--lightgray-color);
}

.news-desc {
	width: 100%;
	font-size: 32px;
	color: gray;
	position: relative;
	padding-bottom: 60px;
}

.news-img {
	width: 100%;
	height: auto;
}

.news-content {
	font-size: 16px;
}

.news-date {
	color: var(--pink-color);
	font-size: 20px;
	position: absolute;
	bottom: 20px;
	right: 30px;
}

/* loader */
.loader {
	font-size: 24px;
	color: gray;
}

.loader ion-icon {
	font-size: 48px;
}

/* responsive design */
@media (min-width: 768px) {
	/* news items */
	.news-item {
		height: 180px;
	}
	.news-img {
		height: 180px;
		width: 320px;
	}
	.news-desc {
		padding-bottom: 30px;
	}
}