.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.section {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-color: black;
	color: white;
	font-size: 1rem;
	text-align: center;
	line-height: 2;
	letter-spacing: 1px;
	text-shadow: 0 0 3px black;
}

.section p {
	text-indent: 4ch;
}

.section-1a {
	background: url(../img/bg1_T.png) no-repeat right center;
	background-size: cover;
	height: calc(100% - 150px);
	position: relative;
}
.section-1a .bg1 {
	width: 40vw;
	position: absolute;
	bottom: 8vh;
	left: 10vw;
}
.section-1a .bg2 {
	width: 30vw;
	position: absolute;
	bottom: 3vh;
	left: 48vw;
}
.section-1b {
	background-color: rgb(102, 102, 102);
	height: 150px;
}

.section-2 {
	background-image: url(../img/bg3.png);
}

.section-2 p {
	display: inline-block;
	text-align: left;
	width: 80%;
}

.section-2 img {
	width: 40vmax;
	margin-bottom: 30px;
}

.section-2 {
	display: block;
	float: right;
	text-align: left;
}

.section-3 {
	background-image: url(../img/bg4.png);
	text-align: left;
}

.section-3 img {
	width: 100%;
	height: auto;
}

.section-4 {
	background-image: url(../img/bg5.png);
}
.section-4 img {
	width: 100%;
	height: auto;
	max-width: 75vw;
}

.section-5 {
	padding: 0;
	background-image: url(../img/bg6.png);
}
.section-5a {
	height: calc(100vh - 50px);
	position: relative;
}
.section-5a > img {
	height: auto;
	width: 90vw;
	margin: 40vh auto auto auto;
}
.sec-footer {
	text-align: center;
	position: absolute;
	bottom: 20px;
	left: 0;
	width: 100%;
}
.get-now img {
	margin-left: 10px;
	width: 150px;
}
.store-list img {
	width: 100px;
	margin-top: auto;
}

/* control arrow */
.fp-controlArrow {
	border: none;
	height: 10vmin !important;
	width: 10vmin !important;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	transition: all 0.5s;
}
.fp-controlArrow:hover {
	background-color: rgba(255, 255, 255, .5);
	transition: all 0.5s;
}
.fp-prev {
	left: 0 !important;
	background-image: url(../img/L.png);
}
.fp-next {
	right: 0 !important;
	background-image: url(../img/R.png);
}

/* responsive design */
@media (min-width: 768px) {
	.section {
		font-size: 1.4rem;
	}

	.section-2 img {
		width: 40vw;
	}

	.section-2 p {
		width: 80%;
	}

	.section-5a > img {
		width: 60vw;
	}

	.store-list img {
		width: 150px;
	}
}