.cont-title {
	position: relative;
	text-align: center;
	font-size: 36px;
	color: black;
}

.cont-date {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 18px;
	color: var(--pink-color);
}

.cont {
	background-color: var(--lightgray-color);
	min-height: 480px;
}