.post-title {
	background-color: rgba(255, 255, 255, 0.3);
	border-bottom: 1px solid white;
	padding: 10px;
	margin: -10px -10px 10px -10px;
	border-radius: 10px 10px 0 0;
}

.post-time {
	border-left: 5px solid skyblue;
	padding-left: 5px;
}

.post-control {
	display: inline-block;
	margin-left: 10px;
}
